.Tabla-Detalles {
    margin: 0;
}

.Tabla-Detalles-Tbody .Tabla-Detalles-tr .Tabla-Detalles-td:nth-child(4) {
    cursor: pointer;
}

.Tabla-Detalles-Tbody .Tabla-Detalles-tr .Tabla-Detalles-td:nth-child(5) {
    cursor: pointer;
    background-color: #ca2626;
    height: 4vh;
    border: 2px solid transparent;
    border-radius: 5px;

}

.Tabla-Detalles-Tbody .Tabla-Detalles-tr .Tabla-Detalles-td:nth-child(5):hover {
    background-color: rgb(176, 16, 48);
}

.Tabla-Detalles-Tbody .Tabla-Detalles-tr .Tabla-Detalles-td:nth-child(5) img {
    height: 100%;
    filter: invert(1);
}

.colrow {
    grid-row: 1;
    grid-column: 1/3;
}

.AddDetalle {
    width: 35%;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 300;
    color: #145075;
    background-color: white;
    border: .4vh solid #145075;
    border-radius: 4vh;
}

.AddDetalle:hover {
    color: #fff;
    background-color: #145075;
    border: .4vh solid #fff;
}





.PopUP-form-data {
    grid-row: 2;
    grid-column: 1;
    background-color: transparent;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
}

.PopUP-form-data-img {
    grid-row: 1;
    grid-column: 1;
    background-color: transparent;
    border-right: #145075 solid .3vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.PopUP-form-data-content {
    display: grid;
    grid-template-rows: repeat(5, 20%);
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
}

.PopUP-form-data-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.PopUP-form-data-row .inputs {
    padding: 0;
    margin: 0;
}

.PopUP-form-data-content .PopUP-form-data-row:nth-child(1) {
    grid-row: 2;
}

.PopUP-form-data-content .PopUP-form-data-row:nth-child(2) {
    grid-row: 3;
}

.PopUP-form-data-content .PopUP-form-data-row:nth-child(3) {
    grid-row: 4;
}





.PopUP-BTNs-can {
    color: #ca2626;
    border-color: #ca2626;
}

.PopUP-BTNs-can:hover {
    color: white;
    background-color: #ca2626;
    border-color: white;
}

.PopUP-BTNs-add {
    color: #71eba1;
    border-color: #71eba1;
}

.PopUP-BTNs-add:hover {
    color: white;
    background-color: #71eba1;
    border-color: white;
}

.PopUP-BTNs-ace {
    color: #2692ca;
    border-color: #2692ca;
}

.PopUP-BTNs-ace:hover {
    color: white;
    background-color: #2692ca;
    border-color: white;
}


@media (max-width: 768px) and (min-width: 300px) {
    .quad-row {
        grid-template-rows: 40vh;
        height: 40vh;
        width: 100%;
    }

    .Tabla-Detalles-Thead .Tabla-Detalles-th:nth-child(4), .Tabla-Detalles-Thead .Tabla-Detalles-th:nth-child(5) {
        display: none;
    }

    .AddDetalle {
        width: 50%;
    }

    .PopUP-form {
        width: 100%;
        height: 90%;
        grid-template-rows: 10% 80% 10%;
    }

    .PopUP-form-data {
        grid-template-columns: 100%;
        grid-template-rows: 50% 85%;
        overflow: auto;
    }

    .PopUP-form-data-img {
        grid-row: 2;
        grid-column: 1;
        border: none;
        border-top: #145075 solid 0.3vh;

    }

    .PopUP-BTNs button {
        width: 30vw;
    }
}