.Tabla-Detalles-tr {
    grid-template-columns: 5% 20% 20% 15% 10% 10% 10% 10%;
}



.Tabla-Detalles-Tbody .Tabla-Detalles-tr .Tabla-Detalles-td:nth-child(8) {
    cursor: pointer;
    background-color: crimson;
    height: 5vh;
    width: 5vh;
    border: 2px solid transparent;
    border-radius: 5px;
}

.Tabla-Detalles-Tbody .Tabla-Detalles-tr .Tabla-Detalles-td:nth-child(8):hover {
    background-color: rgb(176, 16, 48);
}

.Tabla-Detalles-Tbody .Tabla-Detalles-tr .Tabla-Detalles-td:nth-child(8) img {
    height: 100%;
    filter: invert(1);
}

.Tabla-Detalles-Tbody .Tabla-Detalles-tr .Tabla-Detalles-td:nth-child(7) {
    cursor: pointer;
    background-color: #145075;
    height: 5vh;
    width: 5vh;
    border: 2px solid transparent;
    border-radius: 5px;
}

.Tabla-Detalles-Tbody .Tabla-Detalles-tr .Tabla-Detalles-td:nth-child(7):hover {
    background-color: #37bee2;
}

.Tabla-Detalles-Tbody .Tabla-Detalles-tr .Tabla-Detalles-td:nth-child(7) img {
    height: 100%;
    filter: invert(1);
}

#Formulario {
    grid-template-rows: 10vh 10vh 1fr;
}

.data {
    grid-row: 3;
}

.Select-Zone {
    grid-row: 2;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
}

.Select-Div {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: transparent;
}

.Select-Div label {
    display: inline-block;
    cursor: pointer;
    color: #145075;
    position: relative;
    padding: 5px 15px 5px 51px;
    font-size: 1em;
    border-radius: 5px;
    transition: all 0.3s ease;
    user-select: none;
}

.Select-Div label:hover {
    background: rgba(20, 80, 118, 0.1);
}

.Select-Div label:before {
    content: "";
    display: inline-block;
    width: 2vh;
    height: 2vh;
    position: absolute;
    left: 15px;
    border-radius: 50%;
    background: none;
    border: 3px solid #145075;
}

.Select-Div input[type=radio] {
    display: none;
}

.Select-Div input[type=radio]:checked+label:before {
    display: none;
}

.Select-Div input[type=radio]:checked+label {
    padding: 5px 15px;
    background: #145075;
    border-radius: 2px;
    color: #fff;
}

.Select-Div>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.select-Values {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Select_NotView {
    display: none;
    width: 100%;
    justify-content: space-between;
}

/* .PopUP-form {
    width: 70%;
    height: 75%;
} */

.PopUP-BTNs-close {
    color: #2692ca;
    border-color: #2692ca;
}

.PopUP-BTNs-close:hover {
    color: white;
    background-color: #2692ca;
    border-color: white;
}

.PopUP-form-data {
    grid-row: 2;
    grid-column: 1;
    background-color: transparent;

}


#PopUP-Window .Tabla-Detalles {
    border-radius: 0;
    border-top: 1px solid #fff;
}

#PopUP-Window .Tabla-Detalles-tr {
    grid-template-columns: 25% 25% 25% 15% 10%;
}

#PopUP-Window .Tabla-Detalles-Tbody .Tabla-Detalles-tr .Tabla-Detalles-td:nth-child(5) {
    cursor: pointer;
    background-color: #145075;
    height: 5vh;
    width: 5vh;
    border: 2px solid transparent;
    border-radius: 5px;
}

#PopUP-Window .Tabla-Detalles-Tbody .Tabla-Detalles-tr .Tabla-Detalles-td:nth-child(5):hover {
    background-color: #37bee2;
}

#PopUP-Window .Tabla-Detalles-Tbody .Tabla-Detalles-tr .Tabla-Detalles-td:nth-child(5) img {
    height: 100%;
    filter: invert(1);
}