body{
    margin: 0;
    padding: 0;
    background-color: #37BEE2;
}

.titulo{
    background-color: #E0E0E0;
    margin-top: 0px;
    margin-left: 0px;
    float: left;
    height: 62px;
    width: 1858px;
}

p{
    font-size: 35px;
    margin-left: 80px;
    margin-top: 7px;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
}

.busqueda{
    position: absolute;
    margin-top: 10px;
    margin-left: 300px;
}

input{
    padding: 10px;
    outline: none;
    width: 800px;
    height: 40px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    border: rgb(255, 255, 255) solid 1px;
    border-radius: 5px;
    float: left;
    font-size: 16px;
}

.boton{
    position: absolute;
    width: 33px;
    height: 33px;
    line-height: 33px;
    background-color: #E0E0E0;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius:15%;
    cursor: pointer;
    margin-left: 0px;
    padding-left: 10px;
    display: inline-block;
    margin-top: 4px;

}

::placeholder{
    font-family: 'Roboto', sans-serif;
}

.navegacion{
    margin-top: 5px;
    width: 570px;
    margin-left: 1145px;
    background: #E0E0E0;
    position: absolute;
    font-size: 14px;
}

.navegacion ul{
    list-style: none;
}

.menu > li{
    display: inline-block;
    position: relative;
}

.menu li a{
    display: inline-block;
    color: black;
    padding: 0px 16px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 18px;
}

.menu li a:hover{
    color: #ffffff;
}

.submenu{
    position: absolute;
    background: #E0E0E0;
    width: 150px;
    display: none;
}

.submenu li a{
    display: block;
    padding: 15px 5px;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
}

.menu li:hover .submenu{
    display: block;
}

.carrito{
    position: absolute;
    height: 30px;
    width: 30px;
    margin-left: 630px;
    margin-top: 0px;
    top: 20%;
    left: 5%;
}

.baner{
    margin-top: 10px;
    margin-left: 240px;
}

.boton1 img{
    width: 15px;
    height: 20px;
}

.boton2 img{
    width: 15px;
    height: 20px;
}

.producto{
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.cat-prod{
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    margin-left: 700px;
    font-family: 'Roboto', sans-serif;
}

.producto-container{
    padding: 1 1vw;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.producto-container{
    display: flex;
}


.producto-container::-webkit-scrollbar{
    display: none;
}

.carta{
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.prod-imagen{
    position: relative;
    width: 200px;
    height: 350px;
    overflow: hidden;
    margin-left: 215px;
}

.muestra{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.precio{
    position: absolute;
    background: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    right: 10px;
    top: 10px;
    font-family: 'Roboto', sans-serif;
}

.añadirc{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
    background: #ffffff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.carta:hover .añadirc{
    opacity: 1;
}

.añadirc:hover{
    background: gray;
    color: #ffffff;
}

.info-prod{
    width: 100%;
    height: 100%;
    padding-top: 0px;
    margin-left: 215px;
}

.nombre-lib{
    background-color: #E0E0E0;
    width: 180px;
    height: 40px;
    border-radius: 0px 0px 15px 15px;
    margin-top: 0px;
    margin-left: 0px;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-left: 20px;
}

.boton1, .boton2{
    border: none;
    width: 100px;
    height: 450px;
    position: absolute;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 9;
    margin-top: 100px;
    margin-left: 0px;
}

.boton1{
    left: 0;
    transform: rotate(180deg);
}

.boton2{
    right: 0ch
}

.boton1 img,
.boton2 img{
    opacity: 0.4;
}

.boton1:hover img,
.boton2:hover img{
    opacity: 3;
}
