body {
    margin: 0;
    background-color: #2692CA;
}

/* baner principal */

.banner {
    width: 100%;
    height: 10vh;
    background-color: #E0E0E0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;

}

.logo {
    height: 3vh;
    width: auto;
}

.nombre {
    font-size: 1.8em;
    font-family: 'Roboto', sans-serif;
}

.marca {
    display: flex;
    align-items: center;
    align-content: center;
}

.lupa {
    width: calc(4vh + 10px);
    cursor: pointer;
    height: calc(4vh + 10px);
    background-color: #E0E0E0;
}

.barra {
    font-size: 1em;
    padding: 10px;
    outline: none;
    width: 25vw;
    height: 3vh;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.busqueda {
    display: flex;
    align-content: center;
}

.boton-lupa {
    padding: 0;
    border: none;
    box-sizing: none;
    outline: none;
    height: 5vh;
}

.menu-ul {
    display: flex;
    list-style: none;
    width: 50vw;
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: #E0E0E0;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}

.menu-ul a {
    color: black;
    font-size: 1.5em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.submenu {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #E0E0E0;
    width: 12vw;
    height: 9vh;
    list-style: none;
    right: 12vh;
    font-size: 0.8em;
}

.menu-ul li:hover .submenu {
    display: block;
}

.carrito-div {
    background-color: #71EBA1;
    width: 10vh;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.carrito {
    height: 4vh;
    width: auto;
}

.user {
    width: auto;
    height: 4vh;
    margin-left: 20vw;
}

.submenu li {
    padding: 10px;
}

/* baner 1 */
.banner1 {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner1 a {
    width: 90vw;
}

.baner {
    margin-top: 1vh;
    width: 90vw;
    border-radius: 5px;
}

/* baner 2 */

.banners {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.banners a {
    width: 40vw;
}

.banners img {
    width: 100%;
    height: auto;
}


/* pie de pagina */
footer {
    width: 100%;
    background: #202020;
    color: white;
    height: 50vh;
    margin-top: 5vh;
}

.footer-up {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 80%;
}

.footer-up-column {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.footer-up-Column-in {
    width: 80%;
    height: 100%;

}

.footer-up-Column-in a {
    display: flex;
    height: 7vh;
    align-items: center;
    color: white;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin-left: 14vw;
}

.footer-up-Column-in a:hover {
    color: #71EBA1;
    text-decoration: underline;
}

.footer-up-Column-in img {
    width: auto;
    height: 5vh;
    color: white;
    filter: invert(1);
    margin-right: 5px;
}

.footer-up-Column-in img:hover .footer-up-Column-in a {
    color: #71EBA1;
    text-decoration: underline;
}

.footer-up-column p {
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}

.footer-up-column h3 {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    margin-left: 14vw;
}

.footer-down {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.copyright {
    background: #101010;
    color: white;
    width: 100vw;
    padding-inline-start: 3vw;
    text-align: start;
}

.copyright h2 {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.info p{
    font-size: 1.7em;
}

/* slider */
.producto {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cat-prod {
    padding: 0;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
}

.slider-div {
    display: flex;
    justify-content: center;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 95vw;
    height: 70vh;
    background-color: transparent;
}



.btn-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 70vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}

.btn-slider-next {
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}

.slider-content-view {

    width: 85vw;
    height: 70vh;

    overflow: hidden;
}

.slider-content-in {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 200vw;
    height: 70vh;
    transform: translateX(0);

}



/* items */
.slider-item {
    width: 15vw;
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    margin-right: 1vw;
}

.slider-item-up {
    height: 50vh;
    background-size: contain;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider-caratula-book {
    height: 50vh;
    width: 15vw;
}

.slider-item-down {
    background-color: #e0e0e0;
    width: 15vw;
    height: 10vh;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    border: 0px solid transparent;
}

.slider h2 {
    margin: 0;
    padding-left: 10px;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
}

.slider a {
    text-decoration: none;
    color: black;
}


/* barras */

.slider-pointer {
    width: 25vw;
    display: flex;
    height: 2vh;
    position: absolute;
    background-color: transparent;
    align-items: center;
    justify-content: space-evenly;
    transform: translate(30vw, -1vw);
}


.slider-pointer-item {
    width: 1vh;
    height: 1vh;
    background-color: black;
    border-radius: 50%;


}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.slider-item-precio {

    background: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    color: rgb(0, 0, 0);

    font-family: 'Roboto', sans-serif;
}

.slider-item-addCarito {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
    background: #ffffff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    width: 75%;
    opacity: 0;
}

.slider-item:hover .slider-item-addCarito {
    opacity: 1;
}

.slider-item-addCarito:hover {
    background: gray;
    color: #ffffff;
}

.slider-item-up-up {
    display: flex;
    justify-content: flex-end;
    transform: translate(10px, -10px);
}

.slider-item-up-down {
    display: flex;
    justify-content: center;
    transform: translateY(-10px);
}

.logos-res{
    display: none;
}

/* responsive */

@media (max-width: 768px) and (min-width: 400px){
    .banner{
        width: 100%;
        height: 8vh;
        align-items: center;
        align-content: center;
        justify-content: space-around;
    }

    .lista-res{
        display: none;
    }

    .logos-res{
        display: block;
        width: auto;
        height: 4vh;
    }

    .logos-res button{
        border: none;
        background-color: transparent;
    }

    .logos-res img{
        display: block;
        width: auto;
        height: 4vh;
    }

    .menu{
        width: 25vw;
    }

    .carrito-div{
        width: 7vh;
        height: 7vh;
        border-radius: 4vh ;
    }

    .marca{
        width: 40vw;
        height: 4vh;
    }

    .logo{
        width: 15vw;
        height: 4vh;
    }

    .user{
        width: auto;
        height: 4vh;
    }

    .nombre{
        font-size: 1.5em;
        margin-right: 5vw;
    }

    .busqueda{
        display: flex;
        align-content: center;
        display: none;
    }

    .barra{
        height: 2vh;
        width: 20vw;
        display: none;
    }

    .banner1{
        width: 100%;
        height: 50%;
    }

     .cat-prod{
        font-size: 1.5em;
        margin-top: 5vh;
    } 

     .slider-content-in{
        height: 40vh;
        width: 20vw;
        margin-top: 0vh;
    }
    
    .slider{
        width: 100%;
        height: 40vh;
        margin-top: 5vw;
    }

    .slider-item-up{
        width: 100%;
        height: 25vw;
        margin-top: 5vh;
    }

    .slider-item{
        width: 15vw;
        height: 40vw;
        display: grid;
    }

    #btn-slider-1{
        height: 30vh;
    }

    #btn-slider-2{
        height: 30vh;
    }

    .slider-item-down{
        width: 15vw;
        height: 12vh;
        font-size: 13px;
    }

     .slider-content-view{
        width: 17vw;
        height: 50vh;
    } 

     .slider-item-precio{
        width: 3vw;
        height: 2vh;
    }

    .slider-item-up-up{
        width: 13vw;
        height: 4vh;
    }

    .banners img{
        width: 40vw;
        height: 10vh;
    }

    #btn-slider-3{
        height: 30vh;
    }

    #btn-slider-4{
        height: 30vh;
    }

    .footer-up-Column-in{
        display: grid;
        font-size: 10px ;
    }
    
    .footer-up-column{
        display: grid;
    }

    .footer-up-column{
        display: grid;
    }

    .footer-down{
        display: grid;
    }

    .submenu{
        width: 20vw;
        height: 10vh;
    }

    .submenu a{
        font-size: 1em;
    }
}  