body {
    margin: 0;
    padding: 0;
    background-color: #37BEE2;
}

.titulo {
    background-color: #E0E0E0;
    margin-top: 0px;
    margin-left: 0px;
    float: left;
    height: 62px;
    width: 1858px;
}

p {
    font-size: 35px;
    margin-left: 120px;
    margin-top: 7px;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
}

.busqueda {
    position: absolute;
    margin-top: 10px;
    margin-left: 300px;
}

input {
    padding: 10px;
    outline: none;
    width: 800px;
    height: 40px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    border: rgb(255, 255, 255) solid 1px;
    border-radius: 5px;
    float: left;
    font-size: 16px;
}

.boton {
    position: absolute;
    width: 33px;
    height: 33px;
    line-height: 33px;
    background-color: #E0E0E0;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 15%;
    cursor: pointer;
    margin-left: 0px;
    padding-left: 10px;
    display: inline-block;
    margin-top: 4px;

}

::placeholder {
    font-family: 'Roboto', sans-serif;
}

.navegacion {
    margin-top: 5px;
    width: 570px;
    margin-left: 1145px;
    background: #E0E0E0;
    position: absolute;
    font-size: 14px;
}

.navegacion ul {
    list-style: none;
}

.menu>li {
    display: inline-block;
    position: relative;
}

.menu li a {
    display: inline-block;
    color: black;
    padding: 0px 16px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 18px;
}

.menu li a:hover {
    color: #ffffff;
}

.submenu {
    position: absolute;
    background: #E0E0E0;
    width: 150px;
    display: none;
}

.submenu li a {
    display: block;
    padding: 15px 5px;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
}

.menu li:hover .submenu {
    display: block;
}

.carrito {
    position: absolute;
    height: 30px;
    width: 30px;
    margin-left: 630px;
    margin-top: 0px;
    top: 20%;
    left: 5%;
}

.baner {
    margin-top: 10px;
    margin-left: 240px;
}


h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-left: 20px;
}





.baner1 img {
    width: 700px;
    height: 170px;
    margin-left: 170px;
    position: absolute;
}

.baner2 img {
    width: 700px;
    height: 170px;
    margin-left: 0px;
    display: inline;
    float: right;
    margin-top: 0px;
    margin-right: 180px;

}

.baner1 {
    margin-left: 200px;
    width: 700px;
    height: 150px;
}

.baner2 {
    width: 700px;
    height: 150px;
    margin-left: 50px;
}


footer {
    width: 1770px;
    background: #202020;
    color: white;
    padding: 40px;

}

.container-footer-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.columna1 {
    max-width: 400px;
}

.columna1 h1 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
}

.columna1 p {
    font-size: 16px;
    color: #E0E0E0;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
}

.columna2 {
    max-width: 400px;
    margin-right: 300px;
}

.columna2 h1 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.row {
    margin-top: 20px;
    display: flex;
}

.row label {
    margin-top: 1px;
    margin-left: 1px;
    color: #C7C7C7;
}

.columna3 {
    max-width: 400px;
}

.columna3 h1 {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

.row2 {
    margin-top: 20px;
    display: flex;
}


.row2 label {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
    font-family: 'Roboto', sans-serif;
}

.container-footer {
    width: 100%;
    background: #101010;

}

.footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

.copyright {
    color: #E0E0E0;
}

.imagen {
    width: 90px;
    height: 47px;
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
}


/* slider */
.producto {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cat-prod {
    padding: 0;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.slider-div {
    display: flex;
    justify-content: center;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 95vw;
    height: 70vh;
    background-color: transparent;
}



.btn-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 70vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}

.btn-slider-next {
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}

.slider-content-view {

    width: 85vw;
    height: 70vh;

    overflow: hidden;
}

.slider-content-in {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 200vw;
    height: 70vh;
    transform: translateX(0);

}



/* items */
.slider-item {
    width: 15vw;
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    margin-right: 1vw;
}

.slider-item-up {
    height: 50vh;
    background-size: contain;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider-caratula-book {
    height: 50vh;
    width: 15vw;
}

.slider-item-down {
    background-color: #e0e0e0;
    width: 15vw;
    height: 10vh;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    border: 0px solid transparent;
}

.slider h2 {
    margin: 0;
    padding-left: 10px;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
}

.slider a {
    text-decoration: none;
    color: black;
}


/* barras */

.slider-pointer {
    width: 25vw;
    display: flex;
    height: 2vh;
    position: absolute;
    background-color: transparent;
    align-items: center;
    justify-content: space-evenly;
    transform: translate(30vw, -1vw);
}


.slider-pointer-item {
    width: 1vh;
    height: 1vh;
    background-color: black;
    border-radius: 50%;


}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.slider-item-precio {

    background: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    color: rgb(0, 0, 0);

    font-family: 'Roboto', sans-serif;
}

.slider-item-addCarito {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
    background: #ffffff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    width: 75%;
    opacity: 0;
}

.slider-item:hover .slider-item-addCarito {
    opacity: 1;
}

.slider-item-addCarito:hover {
    background: gray;
    color: #ffffff;
}

.slider-item-up-up {
    display: flex;
    justify-content: flex-end;
    transform: translate(10px, -10px);
}

.slider-item-up-down {
    display: flex;
    justify-content: center;
    transform: translateY(-10px);
}