.Tabla-Detalles-Tbody .Tabla-Detalles-tr .Tabla-Detalles-td:nth-child(4) {
    cursor: pointer;
}

.Tabla-Detalles-Tbody .Tabla-Detalles-tr .Tabla-Detalles-td:nth-child(5) {
    cursor: pointer;
    background-color: crimson;
    height: 4vh;
    border: 2px solid transparent;
    border-radius: 5px;

}

.Tabla-Detalles-Tbody .Tabla-Detalles-tr .Tabla-Detalles-td:nth-child(5):hover {
    background-color: rgb(176, 16, 48);
}

.Tabla-Detalles-Tbody .Tabla-Detalles-tr .Tabla-Detalles-td:nth-child(5) img {
    height: 100%;
    filter: invert(1);
}

.colrow {
    grid-row: 1;
    grid-column: 1/3;
}

.AddDetalle {
    width: 35%;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 300;
    color: #145075;
    background-color: white;
    border: .4vh solid #145075;
    border-radius: 4vh;
}

.AddDetalle:hover {
    color: #fff;
    background-color: #145075;
    border: .4vh solid #fff;
}

.PopUP-Window {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
}


.show-PopUp {
    display: flex;
    opacity: 1;
}

.PopUP-form {
    width: 50%;
    height: 70%;
    background-color: white;
    border-radius: 5vh;
    display: grid;
    grid-template-rows: 15% 75% 10%;
    grid-template-columns: 100%;
    overflow: hidden;
    font-family: 'Roboto';
}

.PopUP-Titulo {
    grid-row: 1;
    grid-column: 1;
    background-color: #145075;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.PopUP-Titulo h2 {
    margin: 0;
    font-size: 40px;
    font-weight: 600;
}

.PopUP-form-data {
    grid-row: 2;
    grid-column: 1;
    background-color: transparent;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
}

.PopUP-form-data-img {
    grid-row: 1;
    grid-column: 1;
    background-color: transparent;
    border-right: #145075 solid .3vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.PopUP-form-data-content {
    display: grid;
    grid-template-rows: repeat(5, 20%);
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
}

.PopUP-form-data-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.PopUP-form-data-row .inputs {
    padding: 0;
    margin: 0;
}

.PopUP-form-data-content .PopUP-form-data-row:nth-child(1) {
    grid-row: 2;
}

.PopUP-form-data-content .PopUP-form-data-row:nth-child(2) {
    grid-row: 3;
}

.PopUP-form-data-content .PopUP-form-data-row:nth-child(3) {
    grid-row: 4;
}

.PopUP-BTNs {
    background-color: #145075;
    grid-row: 3;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.PopUP-BTNs button {
    width: 10vw;
    font-size: 20px;
    background-color: white;
    border: .3vh solid;
    border-radius: 5vh;
    pointer-events: all;

}

.PopUP-BTNs-can {
    color: crimson;
    border-color: crimson;
}

.PopUP-BTNs-can:hover {
    color: white;
    background-color: crimson;
    border-color: white;
}

.PopUP-BTNs-add {
    color: #71eba1;
    border-color: #71eba1;
}

.PopUP-BTNs-add:hover {
    color: white;
    background-color: #71eba1;
    border-color: white;
}

.PopUP-BTNs-ace {
    color: #2692ca;
    border-color: #2692ca;
}

.PopUP-BTNs-ace:hover {
    color: white;
    background-color: #2692ca;
    border-color: white;
}