#btnAddimage {
    width: 20vw;
    height: 5vh;
    background-color: transparent;
    border-radius: 3vh;
    border: 2px solid #2692ca;
    font-size: 1.2rem;
    color: #2692ca;
}

#btnAddimage:hover {
    color: #71eba1;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid #71eba1;
}

#Logo {
    width: 20vw;
    height: 5vh;
    position: absolute;
    opacity: 0;
}

#Vlogo {
    width: 10vh;
    height: 10vh;
    border-radius: 5vh;
    object-fit: scale-down;
}

.btnSeach {
    height: 5vh;
    width: 5vh;
    background-color: #DC0088;
    border: 1px solid #e0e0e0;
    border-radius: .5vh;
}




.btnSeach img {
    height: 3vh;
    filter: invert(1);
}

.btnSeach:hover {
    background-color: #B80172;
}

.row-in-col {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) and (min-width: 400px){

#titulo{
    font-size: 1.4em
}
    
.data{
     width: 100%;
    height: 100%;
}

#Nombre{
    width: 15vw;
    height: 2vh;
    font-size: 1em;
}

#Email{
    width: 15vw;
    height: 2vh;
    font-size: 1em;
}

#Numero{
    width: 15vw;
    height: 2vh;
    font-size: 1em;
}

#Direccion{
    width: 15vw;
    height: 2vh;
    font-size: 1em;
}

#Web{
    width: 15vw;
    height: 2vh;
    font-size: 1em;
}

#Vlogo{
    width: 10vw;
    height: 10vw;
}

#btnAddimage{
    width: 20vw;
    height: 7vh;
    font-size: 0.8em;
}

#save-div button{
    width: 20vw;
    height: 5vh;
    font-size: 0.8em;
}

#ID{
    width: 15vw;
    height: 2vh;
    font-size: 1em;
}

#Nombre{
    width: 15vw;
    height: 2vh;
    font-size: 1em;
}

.btnSeach{
    width: 5vw;
    height: 5vw;
}

.btnSeach img{
    width: 3vw;
    height: 3vh;
}


}