
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <section style="display: grid;position: absolute;top: 0;left: 25%;width: 50%;height: 100%;">
        <h1 style="font-size: 2.5rem;
            font-weight: bold;
            color: #000;
            margin-bottom: 1rem;
            font-family: 'Roboto';text-align: center;">Libreria Mi Mundo Web</h1>            
        <img style="width: 50%;
            height: auto; position: absolute; left: 50%; top: 15%;" src="cid:logo" alt="Logo Mi Mundo">
        <h2 style="font-size: 1.5rem;
                font-weight: bold;
                color: #3b3b3b;
                margin-bottom: 1rem;
                font-family: 'Roboto';text-align: center;">Garcias</h2>
        <h3 style="margin-top: 0;
            font-size: 2rem;
            font-weight: bold;
            color: #474747;
            margin-bottom: 1rem;
            font-family: 'Roboto';text-align: center;">%%NOMBRE_USER%%</h3>
        <h2 style="font-size: 1.5rem;
                font-weight: bold;
                color: #3b3b3b;
                margin-bottom: 1rem;
                font-family: 'Roboto';text-align: center;">Por Su prefenecia a la Hora de comprar</h2>
        <p style="font-size: 1rem;
            font-weight: bold;
            color: #474747;
            margin-bottom: 1rem;
            font-family: 'Roboto'; text-align: center;">Se le adjunta su ticket de compra</p>
         <!-- <a style="font-size: 1.5rem;
            font-weight: bold;
            color: #fff;
            margin-bottom: 1rem;
            font-family: 'Roboto';
            text-decoration: none;
            background-color: #2692ca;
            border: 1px solid #fff;
            padding: 0.5rem;
            text-align: center;
            border-radius: 5px;" href="cid:ticket">Ver Ticket</a> -->
        <!--<p style="font-size: 1rem;
            font-weight: bold;
            color: #474747;
            margin-bottom: 1rem;
            font-family: 'Roboto';">Si no ha solicitado este servicio, por favor ignore este mensaje.</p>    -->
    </section>
    
    
    

    <script>
        let img = document.getElementById('logo');
        let enlace = document.getElementById('enlace');
        let nombre = document.getElementById('Nombre');
        img.src = "http://localhost/xsc/public/imgs/Rercursos/Logo%20--Mimundo--.svg";
        enlace.href = "http://localhost/xsc/public/RecuperarContraseña";
        nombre.textContent = "Bienvenido Manolo";

    </script>

