php_value display_errors 1
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
Options -Indexes
ErrorDocument 404 views/errores/404.php
ErrorDocument 403 views/errores/403.php