body {
    margin: 0;
    background-color: gray
}

.banner {
    width: 100%;
    height: 7vh;
    background-color: #E0E0E0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;

}

.logo {
    height: 2vh;
    width: auto;
}

.nombre {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    margin-left: 1vh;
}

.marca {
    display: flex;
    align-items: center;
    align-content: center;
}

.lupa {
    width: calc(4vh + 10px);
    cursor: pointer;
    height: calc(3.3vh + 13px);
    background-color: #E0E0E0;
}

.barra {
    font-size: 18px;
    padding: 10px;
    outline: none;
    width: 45vw;
    height: 2vh;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.busqueda {
    display: flex;
    align-content: center;
}

.boton-lupa {
    padding: 0;
    border: none;
    box-sizing: none;
    outline: none;
    height: 4vh;
}

.menu-ul {
    display: flex;
    list-style: none;
    width: 21vw;
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: #E0E0E0;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}

.menu-ul a {
    color: black;
    font-size: 1.2em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.submenu {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #E0E0E0;
    width: 12vw;
    list-style: none;
    right: 11.7vh;
}

.menu-ul li:hover .submenu {
    display: block;
}

.carrito-div {
    background-color: #71EBA1;
    width: 9vh;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
}

.carrito {
    height: 3vh;
    width: auto;
}

.user {
    width: auto;
    height: 3vh;
}

.submenu li {
    padding: 10px;
}

.menu-admin{
    list-style: none;
    width: 13vw;
    height: 105vh;
    margin: 0;
    padding: 0;
    background-color: ghostwhite;
    justify-content: space-around;
    position: absolute;
}

.menu-admin li{
    padding-top: 20vh;
    font-size: 1.3em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.añad-usu{
    position: absolute;
    background-color: #71EBA1;
    border-radius: 4px;
    width: 12vw;
    height: 5vh;
    text-align: center;
}

.img-usr2{
    width: 18px;
    height: 18px;
    margin-top: 0.5vh;
    margin-left: 10vw;
    position: absolute;
}

.añad-art{
    position: absolute;
    background-color: #71EBA1;
    border-radius: 4px;
    width: 12vw;
    height: 5vh;
    text-align: center;
}

.rem-art{
    position: absolute;
    background-color: #71EBA1;
    border-radius: 4px;
    width: 12vw;
    height: 5vh;
    text-align: center;
}

.usuario{
    width: 40vw;
    height: 96vh;
    border-radius: 5px;
    background-color: ghostwhite;
    margin-left: 34vw;
    position: absolute;
    display: inline-block;
    margin-top: 3vh;
}

.tipo{
    display: block;
    height: 3.6vh;
    border: black 1px solid;
    margin-left: 15vw;
    margin-top: 3vh;
    width: 10vw;
    background: white;
    padding-left: 10px;
    font-size: 0.6vw;
}

.nombr-usr{
    display: block;
    height: 3.2vh;
    border: black 1px solid;
    margin-left: 15vw;
    margin-top: 3vh;
    width: 9.3vw;
    background: white;
    padding-left: 10px;
    font-size: 0.6vw;
    outline: none;
}

.apell-usr{
    display: block;
    height: 3.2vh;
    border: black 1px solid;
    margin-left: 15vw;
    margin-top: 3vh;
    width: 9.3vw;
    background: white;
    padding-left: 10px;
    font-size: 0.6vw;
    outline: none;
}

.email-usr{
    display: block;
    height: 3.2vh;
    border: black 1px solid;
    margin-left: 15vw;
    margin-top: 3vh;
    width: 9.3vw;
    background: white;
    padding-left: 10px;
    font-size: 0.6vw;
    outline: none;
}

.passwrd-usr{
    display: block;
    height: 3.2vh;
    border: black 1px solid;
    margin-left: 15vw;
    margin-top: 3vh;
    width: 9.3vw;
    background: white;
    padding-left: 10px;
    font-size: 0.6vw;
    outline: none;
}

.genero-usr{
    display: block;
    height: 3.2vh;
    border: black 1px solid;
    margin-left: 15vw;
    margin-top: 3vh;
    width: 9.3vw;
    background: white;
    padding-left: 10px;
    font-size: 0.6vw;
    outline: none;
}

.genero-pers{
    display: block;
    height: 3.2vh;
    border: black 1px solid;
    margin-left: 15vw;
    margin-top: 3vh;
    width: 9.3vw;
    background: white;
    padding-left: 10px;
    font-size: 0.6vw;
    outline: none;
}

.fecha_nac{
    display: block;
    height: 3.2vh;
    border: black 1px solid;
    margin-left: 15vw;
    margin-top: 3vh;
    width: 9.3vw;
    background: white;
    padding-left: 10px;
    font-size: 0.6vw;
    outline: none;
}

.numero-tel{
    display: block;
    height: 3.2vh;
    border: black 1px solid;
    margin-left: 15vw;
    margin-top: 3vh;
    width: 9.3vw;
    background: white;
    padding-left: 10px;
    font-size: 0.6vw;
    outline: none;
}

.calle{
    display: block;
    height: 3.2vh;
    border: black 1px solid;
    margin-left: 15vw;
    margin-top: 3vh;
    width: 9.3vw;
    background: white;
    padding-left: 10px;
    font-size: 0.6vw;
    outline: none;
}

.ciudad{
    display: block;
    height: 3.2vh;
    border: black 1px solid;
    margin-left: 15vw;
    margin-top: 3vh;
    width: 9.3vw;
    background: white;
    padding-left: 10px;
    font-size: 0.6vw;
    outline: none;
}

.departamento{
    display: block;
    height: 3.2vh;
    border: black 1px solid;
    margin-left: 15vw;
    margin-top: 3vh;
    width: 9.3vw;
    background: white;
    padding-left: 10px;
    font-size: 0.6vw;
    outline: none;
}

.cod-post{
    display: block;
    height: 3.2vh;
    border: black 1px solid;
    margin-left: 15vw;
    margin-top: 3vh;
    width: 9.3vw;
    background: white;
    padding-left: 10px;
    font-size: 0.6vw;
    outline: none;
}

.añadir{
    display: block;
    height: 3.2vh;
    border: black 1px solid;
    margin-left: 12.6vw;
    margin-top: 3vh;
    width: 14.5vw;
    background: white;
    padding-left: 10px;
    font-size: 0.6vw;
    cursor: pointer;
    outline: none;
}

h3{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h4{
    text-align: center;
}

.añadir:hover{
    color: black;
    background: white;
    cursor: pointer;
    border: 3px solid #71EBA1;
    transition: all 0.2s ease-in-out;
}