/* baner 1 */
.banner1 {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner1 a {
    width: 90vw;
}

.baner {
    margin-top: 1vh;
    width: 90vw;
    border-radius: 5px;
}

/* baner 2 */

.banners {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.banners a {
    width: 40vw;
}

.banners img {
    width: 100%;
    height: auto;
}


/* slider */
.producto {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cat-prod {
    padding: 0;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Roboto';
    margin-top: 0;
}

.slider-div {
    display: flex;
    justify-content: center;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 95vw;
    height: 70vh;
    background-color: transparent;
}



.btn-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 70vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}

.btn-slider-next {
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}

.slider-content-view {

    width: 85vw;
    height: 70vh;

    overflow: hidden;
}

.slider-content-in {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 200vw;
    height: 70vh;
    transform: translateX(0);

}



/* items */
.slider-item {
    width: 15vw;
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    margin-right: 1vw;
}

.slider-item-up {
    height: 50vh;
    background-size: cover;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider-caratula-book {
    height: 50vh;
    width: 15vw;
}

.slider-item-down {
    background-color: #e0e0e0;
    width: 15vw;
    height: 10vh;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    border: 0px solid transparent;
}

.slider h2 {
    margin: 0;
    padding-left: 10px;
    font-size: 0.9em;
    font-family: 'Roboto';
}

.slider a {
    text-decoration: none;
    color: black;
}


/* barras */

.slider-pointer {
    width: 25vw;
    display: flex;
    height: 2vh;
    position: absolute;
    background-color: transparent;
    align-items: center;
    justify-content: space-evenly;
    transform: translate(30vw, -1vw);
}


.slider-pointer-item {
    width: 1vh;
    height: 1vh;
    background-color: black;
    border-radius: 50%;


}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.slider-item-precio {

    background: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    color: rgb(0, 0, 0);

    font-family: 'Roboto';
}

.slider-item-addCarito {
    padding: 10px;
    font-family: 'Roboto';
    border: none;
    outline: none;
    background: #ffffff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    width: 75%;
    opacity: 0;
}

.slider-item:hover .slider-item-addCarito {
    opacity: 1;
}

.slider-item-addCarito:hover {
    background: gray;
    color: #ffffff;
}

.slider-item-up-up {
    display: flex;
    justify-content: flex-end;
    transform: translate(10px, -10px);
}

.slider-item-up-down {
    display: flex;
    justify-content: center;
    transform: translateY(-10px);
}



/* responsive */

@media (max-width: 768px) and (min-width: 400px) {

    .banner1 {
        width: 100%;
        height: 50%;
    }

    .cat-prod {
        font-size: 1.5em;
        margin-top: 5vh;
    }

    .slider-content-in {
        height: 40vh;
        width: 20vw;
        margin-top: 0vh;
    }

    .slider {
        width: 100%;
        height: 40vh;
        margin-top: 5vw;
    }

    .slider-item-up {
        width: 100%;
        height: 25vw;
        margin-top: 5vh;
    }

    .slider-item {
        width: 15vw;
        height: 40vw;
        display: grid;
    }

    #btn-slider-1 {
        height: 30vh;
    }

    #btn-slider-2 {
        height: 30vh;
    }

    .slider-item-down {
        width: 15vw;
        height: 12vh;
        font-size: 13px;
    }

    .slider-content-view {
        width: 17vw;
        height: 50vh;
    }

    .slider-item-precio {
        width: 3vw;
        height: 2vh;
    }

    .slider-item-up-up {
        width: 13vw;
        height: 4vh;
    }

    .banners img {
        width: 40vw;
        height: 10vh;
    }

    #btn-slider-3 {
        height: 30vh;
    }

    #btn-slider-4 {
        height: 30vh;
    }


}