body{
    background-color: rgb(233, 233, 233);
    margin: 0;
}

.caja1{
    width: 1700px;
    height: 100px;
    background-color: rgb(127, 126, 131);
    margin-left: 70px;
}

.caja2{
    width: 1800px;
    height: 400px;
    background-color: rgb(127, 126, 131);
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 80px;
}

.caja3{
    width: 215px;
    height: 30px;
    background-color: rgb(127, 126, 131);
    margin-left: 818px;
    margin-top: 20px;
}

.caja4{
    width: 70px;
    height: 50px;
    background-color: rgb(127, 126, 131);
    display: flex;
}

#caja4-d {
    margin-right: 110px;
}

#caja4-i {
    margin-left: 200px;
}

.caja5{
    width: 215px;
    height: 400px;
    background-color: rgb(127, 126, 131);
    margin-top: 15px;
    margin-left: 313px;
    display: inline-block;
}

.caja6{
    width: 213px;
    height: 400px;
    background-color: rgb(127, 126, 131);
    margin-top: 15px;
    margin-left: 35px;
    display: inline-block;
}

.caja7{
    width: 213px;
    height: 400px;
    background-color: rgb(127, 126, 131);
    margin-top: 15px;
    margin-left: 35px;
    display: inline-block;
}

.caja8{
    width: 213px;
    height: 400px;
    background-color: rgb(127, 126, 131);
    margin-top: 15px;
    margin-left: 35px;
    display: inline-block;
}

.caja9{
    width: 213px;
    height: 400px;
    background-color: rgb(127, 126, 131);
    margin-top: 15px;
    margin-left: 35px;
    display: inline-block;
}

.baner {
    display: flex;
    margin-top: 10px;
    width: 1770px;
    align-items: center;
    padding-right: 70px;
}

.caja10{
    width: 710px;
    height: 200px;
    background-color: rgb(127, 126, 131);
    margin-top: 70px;
    margin-left: 200px;
    display: inline-block;
}

.caja11{
    width: 710px;
    height: 200px;
    background-color: rgb(127, 126, 131);
    margin-left: 37px;
    margin-top: 80px;
    display: inline-block;
}

.caja12{
    width: 295px;
    height: 20px;
    background-color: rgb(127, 126, 131);
    margin-left: 778px;
    margin-top: 50px;
}

.caja13{
    width: 213px;
    height: 400px;
    background-color: rgb(127, 126, 131);
    margin-top: 25px;
    margin-left: 313px;
    display: inline-block;
}

.caja14{
    width: 213px;
    height: 400px;
    background-color: rgb(127, 126, 131);
    margin-top: 25px;
    margin-left: 35px;
    display: inline-block;
}

.caja15{
    width: 213px;
    height: 400px;
    background-color: rgb(127, 126, 131);
    margin-top: 25px;
    margin-left: 35px;
    display: inline-block;
}

.caja16{
    width: 213px;
    height: 400px;
    background-color: rgb(127, 126, 131);
    margin-top: 25px;
    margin-left: 35px;
    display: inline-block;
}

.caja17{
    width: 213px;
    height: 400px;
    background-color: rgb(127, 126, 131);
    margin-top: 25px;
    margin-left: 35px;
    display: inline-block;
}

.caja18{
    width: 1715px;
    height: 600px;
    background-color: rgb(127, 126, 131);
    margin-top: 15px;
    margin-left: 70px;
}