body {
    background-color: rgb(233, 233, 233);
    margin: 0;
}

.caja1 {
    width: 93vw;
    height: 100px;
    background-color: rgb(127, 126, 131);
    margin-left: 3vw;
    margin-right: 5vw;
}

.caja2 {
    width: 78vw;
    height: 400px;
    background-color: rgb(127, 126, 131);
    margin-top: 10px;
    margin-left: 9.7vw;
    margin-right: 10vw;
}

.caja2-2 {
    width: 15vw;
    height: 30px;
    background-color: rgb(127, 126, 131);
    margin-top: 10px;
    margin-left: 41.3vw;
    margin-bottom: 15px;
}

.caja3 {
    display: flex;
    margin-top: 40px;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    align-items: center;
}

.caja4 {
    width: 70px;
    height: 50px;
    background-color: rgb(127, 126, 131);
    display: flex;
}

.caja5 {
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
}

.caja6 {
    width: 15vw;
    height: 400px;
    background-color: rgb(127, 126, 131);
}

.caja7 {
    margin-top: 100px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
}

.caja8 {
    width: 39.5vw;
    height: 210px;
    background-color: rgb(127, 126, 131);
    margin-right: 55px;
    margin-left: 7px;
}

.caja9 {
    width: 20.9vw;
    height: 30px;
    background-color: rgb(127, 126, 131);
    margin-top: 50px;
    margin-left: 38vw;
}

.caja10 {
    width: 93vw;
    height: 600px;
    background-color: rgb(127, 126, 131);
    margin-right: 5vw;
    margin-left: 3vw;
    margin-top: 70px;
}